.eth_provider_container {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 99vw;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  z-index: 1001;
  background-color: var(--secondary);
}

#WEB3_CONNECT_MODAL_ID > div {
  z-index: 1001;
}

.tip-modal {
  .tip-options {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    gap: 5px; 
  }

  label {
    display: initial;
  }
}

span.tooltip {
  cursor: pointer;
  border-bottom: 1px dotted currentColor;
}

.user-preferences .form-vertical:has(> .preferences-wallet) {
  width: 100%;
}

.flex-break {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }

  .max {
    display: flex;
    gap: 2px;
    align-items: center;

    input {
      margin-bottom: 0;
    }

    margin-bottom: 10px;
  }
}

.user-preferences {
  div, p {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
  }

  .form-vertical {
    .preferences-wallet {
      .info-row {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
      }

      .transactions-history {
        // border: 1px solid grey; 
        border-radius: 5px; 
        // padding: 10px; 
        width: 100%;
    
        table {
          width: 100%;
        }
      }
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: var(--secondary-medium);
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;  /* Place the tooltip text at the bottom */
  left: 50%;
  transform: translateX(-50%);
  // margin-left: -100%;  /* Use half of the width to center the tooltip text */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    transform: translateX(-5%);
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.wallet-list {
  margin-top: 0;
  padding-left: 10px;
  list-style-type: "﹂ ";
}